---
import Layout from '../layouts/Layout.astro';
import Section from '../layouts/Section.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex justify-center items-center flex-col">
		<Section type='dark'>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, sed. Inventore adipisci consequatur facere veritatis ullam totam voluptatibus aperiam, eaque aliquid quibusdam perspiciatis, tenetur ratione ea tempore, deserunt id quod.
		</Section>
		<Section type='light'>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla pariatur exercitationem molestiae modi. Suscipit dicta numquam soluta quisquam, perspiciatis id! Repellat ex atque, ullam laudantium officiis, dicta quae aliquid asperiores illo veritatis quaerat nulla voluptates voluptas quas obcaecati eaque tenetur inventore accusantium nam earum dolorem? Sapiente, expedita temporibus debitis commodi est tenetur mollitia optio modi ipsam? Non eos delectus, dignissimos nulla veniam rem consectetur itaque culpa, voluptates optio illo nostrum ad natus iusto. Maiores adipisci aut facilis unde maxime dolorem laudantium quas esse excepturi sapiente cum facere, expedita obcaecati perspiciatis eos iste incidunt sit quae libero ut, quos asperiores voluptas!
		</Section>
		<Section type='dark'>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, sed. Inventore adipisci consequatur facere veritatis ullam totam voluptatibus aperiam, eaque aliquid quibusdam perspiciatis, tenetur ratione ea tempore, deserunt id quod.
		</Section>
	</main>
</Layout>

