---
import Layout from '../layouts/Layout.astro';
import Section from '../layouts/Section.astro';
import Button from '../components/Button.astro';
---

<Layout title='cichowlasp - portfolio'>
	<main class='flex justify-center items-center flex-col'>
		<nav
			class='bg-gray-200 flex flex-row justify-between w-screen p-8 px-16 items-center'
		>
			<div class='flex gap-4'>
				<Button info='cichowlas.p@gmail.com'>Copy</Button>
				<Button>CV</Button>
			</div>

			<div class='flex flex-row gap-4 font-normal text-lg'>
				<a
					href='#'
					class='hover:underline hover:underline-offset-2 hover:cursor-pointer'
					>About Me</a
				>
				<div>/</div>
				<a
					href='#'
					class='hover:underline hover:underline-offset-2 hover:cursor-pointer'
					>Projects</a
				>
				<div>/</div>
				<a
					href='#'
					class='hover:underline hover:underline-offset-2 hover:cursor-pointer'
					>Contact</a
				>
			</div>
		</nav>
		<Section type='dark'>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, sed.
			Inventore adipisci consequatur facere veritatis ullam totam
			voluptatibus aperiam, eaque aliquid quibusdam perspiciatis, tenetur
			ratione ea tempore, deserunt id quod.
		</Section>
		<Section type='light'>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
			pariatur exercitationem molestiae modi. Suscipit dicta numquam
			soluta quisquam, perspiciatis id! Repellat ex atque, ullam
			laudantium officiis, dicta quae aliquid asperiores illo veritatis
			quaerat nulla voluptates voluptas quas obcaecati eaque tenetur
			inventore accusantium nam earum dolorem? Sapiente, expedita
			temporibus debitis commodi est tenetur mollitia optio modi ipsam?
			Non eos delectus, dignissimos nulla veniam rem consectetur itaque
			culpa, voluptates optio illo nostrum ad natus iusto. Maiores
			adipisci aut facilis unde maxime dolorem laudantium quas esse
			excepturi sapiente cum facere, expedita obcaecati perspiciatis eos
			iste incidunt sit quae libero ut, quos asperiores voluptas!
		</Section>
		<Section type='dark'>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, sed.
			Inventore adipisci consequatur facere veritatis ullam totam
			voluptatibus aperiam, eaque aliquid quibusdam perspiciatis, tenetur
			ratione ea tempore, deserunt id quod. Lorem ipsum dolor sit amet,
			consectetur adipisicing elit. Ipsam enim ab repellat, quos pariatur
			ullam inventore porro, amet suscipit illo debitis dicta veritatis
			maiores nemo. Architecto harum praesentium, corporis eos odio autem
			quas amet sit cumque optio corrupti, maiores quasi tempore aliquam.
			Alias, mollitia nostrum? Omnis quidem ratione eum numquam iste, ut
			quaerat obcaecati eveniet! Quaerat earum quae enim reprehenderit,
			pariatur maxime molestias eum deserunt ex consequuntur totam, alias
			quia quod, error nostrum odio doloremque quis asperiores culpa
			accusamus voluptatum? Ratione, esse veniam. Enim ipsum quod
			molestias eveniet alias perferendis quidem, corporis in dolorum
			inventore sit laudantium et tempore voluptatem cum quibusdam laborum
			architecto eligendi aut voluptatum atque ea culpa? Nostrum
			architecto sit cumque doloribus. Aliquid suscipit ab iste laudantium
			perspiciatis nihil ea, ducimus qui dolor nesciunt praesentium
			dignissimos nisi molestias cum. Dolorem deleniti expedita nam iusto
			corporis natus molestias earum molestiae voluptas illum. Veritatis
			eius cum necessitatibus amet neque.
		</Section>
	</main>
</Layout>
