---
import Image from 'astro/components/Image.astro';
interface Props {
	title: string;
	body: string;
	icon?: string;
	alt?: string;
}

const { title, body, icon, alt } = Astro.props;
---

<div>
	{
		icon && alt && (
			<Image
				class='w-12 h-12 mb-4'
				height={50}
				width={50}
				src={icon}
				alt={alt}
			/>
		)
	}
	<h2 class='text-xl font-semibold mb-2'>
		{title}
	</h2>
	<p class='font-light'>
		{body}
	</p>
</div>
