---
import Me from '../assets/pictures/me.webp';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class='bg-gray-200 overflow-x-hidden' lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content='Piotr Cichowlas - Personal Portfolio'
		/>
		<meta
			property='og:url'
			content='https://cichowlasp.github.io/portfolio/'
		/>
		<meta property='og:type' content='article' />
		<meta
			property='og:title'
			content='Piotr Cichowlas - Personal Portfolio'
		/>
		<meta
			property='og:description'
			content="This website is Piotr Cichowlas' portfolio, showcasing his skills in cybersecurity, front-end development, and video editing, with detailed examples of his work and projects."
		/>
		<meta
			name='twitter:title'
			content='Piotr Cichowlas - Personal Portfolio'
		/>
		<meta
			name='twitter:description'
			content="This website is Piotr Cichowlas' portfolio, showcasing his skills in cybersecurity, front-end development, and video editing, with detailed examples of his work and projects."
		/>
		<meta
			name='twitter:image'
			content='https://cichowlasp.github.io/portfolio/favicon.svg'
		/>
		<meta name='twitter:card' content='summary_large_image' />
		<meta
			property='og:image'
			content='https://cichowlasp.github.io/portfolio/favicon.svg'
		/>
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='icon' type='image/svg+xml' href='/portfolio/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
