---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'section'> {
	type: 'light' | 'dark';
}

const { type } = Astro.props;
---

<div class=` w-screen h-fit ${type === "light" ? "bg-gray-200" : "" } `>
	<section
		{...Astro.props}
		class=`flex flex-col justify-center items-center ${type === "light" ? "bg-gray-100" : "bg-gray-200" } w-screen h-auto rounded-b-[100px] pt-10 pb-20 px-10`
	>
		<slot />
	</section>
</div>
